:root {
    --laranja: #f5500c;
    --azul-claro: #7ce2f2;
    --azul-escuro: #0f398c;
    --azul-meio-termo: #6986bf;
    --marrom: #bf6150;
    --cinza: #6f7473;
    --branco: #fefefe;
    --branco-escuro: #f0f0f0;
    --preto: #000000;
}
